.header {
	background-color: #e9e5e5;
	// .header__wrapper

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .header__logo

	&__logo img {
		width: 60px;
		height: 60px;
	}

	&__decor {
		object-fit: cover;
		width: 100%;
		height: 90px;
	}

	// .header__menu

	&__menu {
	}

	&__btn {
		margin: 15px 0;
	}

	&__menu-toggle .toggler {
		width: 1.5rem;
		height: 0.125rem;
		background-color: #781414;

		transition: background-color 0.15s;
		text-align: center;
		display: none;
		position: relative;
		&::before,
		&::after {
			content: "";
			position: absolute;
			background-color: #781414;
			left: 0;
			width: 1.5rem;
			height: 0.125rem;
			left: 0;
		}
		&::before {
			top: 0.375rem;
		}
		&::after {
			bottom: 0.375rem;
		}
	}
}

.logo {
}
.menu {
	display: flex;
	align-items: center;
	

	&__item a {
		color: #781414;
		margin-right: 20px;
		position: relative;
		transition: all 0.2s;
		font-size: 22px;
		&::before {
			position: absolute;
			content: "";
			bottom: 0;
			left: 0;

			width: 100%;
			height: 2px;
		}
		&:hover {
			&::before {
				background-color: #781414;
			}
		}
	}
}

@media screen and (max-width: 990px) {
	.header {
		
		&__menu-toggle .toggler {
			display: block;

			&.open ::before,
			::after {
				transition: all 5s;
			}
		}
	}

	.logo {
	}
	.menu {
		display: block;
		padding: 20px;
		flex-direction: column;
		position: fixed;
		top: 160px;
		bottom: 0;
		left: -41.4375rem;
		width: 100%;
		max-width: 23.4375rem;

		-webkit-transition: left 0.35s;
		-o-transition: left 0.35s;
		transition: left 0.35s;
		font-weight: 700;
		font-size: 1.125rem;
		overflow-y: auto;
		overflow-x: hidden;
		z-index: 5;
		background-color: #e9e5e5;

		&.open {
			left: 0;
			box-shadow: 1px 41px 16px 16px #473737;
		}

		&__item {
			margin: 5px 0;

			& a {
				font-size: 18px;
				margin-right: 0;
			}
		}
	}
	.toggler.open {
		background-color: #e9e5e5;
		transition: background-color 0.3s;

		&::before {
			transform: rotate(-45deg);
			transition: transform 0.3s;
			top: 0;
		}
		&::after {
			transition: transform 0.3s;
			transform: rotate(45deg);
			top: 0;
		}
	}
	.toggler {
		transition: background-color 0.3s;
		&::before {
			transition: transform 0.3s;
		}

		&::after {
			transition: transform 0.3s;
		}
	}
}
